<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="peaces/header :: header('SimpleMB')"/>
<body>
<div id="root">
    <button v-on:click.prevent="backToQueues()" type="button" class="btn btn-secondary">Back to Queues</button>
    <h1 class="text-center">{{ topic.topic }}</h1>
    <div class="leftContainer">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm w-auto">
                    <tbody>
                    <tr>
                        <th scope="row">UUID:</th>
                        <th>{{ topic.id }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Pending:</th>
                        <th>{{ topic.pending }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Delivered:</th>
                        <th>{{ topic.delivered }}</th>
                    </tr>
                    <tr>
                        <th scope="row">Peer:</th>
                        <th>{{ topic.peer }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover w-auto">
                    <button v-show="messages.first !== true" v-on:click.prevent="previousPage()" type="button">Previous </button>
                    <span> Current page is {{ messages.number + 1 }} out of {{ messages.totalPages }}</span>
                    <button v-show="messages.last !== true" v-on:click.prevent="nextPage()" type="button"> Next</button>
                    <thead style="position: sticky;top: 0" class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Message Body</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(message, index) in messages.content" :key="message.id" :row="message">
                        <th>{{ message.id }}</th>
                        <th><textarea cols="10" rows="5">{{ message.body }}</textarea></th>
                        <th><button v-on:click.prevent="remove(message.id)" type="button" class="btn btn-danger">Delete</button></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="peaces/footer :: footer"></div>
</body>
<script>
    var app = new Vue({
        el: '#root',
        mounted() {
            Event.$on('logged-in', function () {
                window.location.replace("/");
            });
            this.getTopicInfo();
            this.getMessages(0, 5);
        },
        data: {
            topic: "",
            messages: []
        },
        methods: {
            getTopicInfo() {
                axios.get('/queue/' + this.getTopicName() + '?access_token=' + getCookie("access_token"))
                    .then(function (response) {
                        this.topic = response.data;
                    }.bind(this));
            },
            getTopicName() {
                let splitted = window.location.href.split('/');
                return splitted[splitted.length - 1];
            },
            getMessages(page, limit) {
                axios.post('/message/byTopic/' + this.getTopicName() + '?access_token=' + getCookie("access_token"), {
                    "page": page,
                    "limitPerPage": limit
                }).then(function (response) {
                        this.messages = response.data;
                    }.bind(this));
            },
            backToQueues() {
                document.location.replace("/admin?access_token=" + getCookie("access_token"));
            },
            nextPage() {
                this.getMessages(this.messages.number + 1, 5);
            },
            previousPage() {
                this.getMessages(this.messages.number - 1, 5);
            },
            remove(messageId) {
                alert(messageId);
            }
        }
    });
</script>
</html>